/*==========================================
    section title
==========================================*/
.section-title {
    text-align: center;
    margin-bottom: 53px;
    h2 { 
        font-size: 72px;
        color: $heading-color;
        margin-bottom: 23px;
        span {
            color: $heading-color-2;
        }
        &.remove-space {
          margin-bottom: 7px;
        }
    }
    p {
        font-size: 16px;
        color: $descr-color;
    }
}
.c-white {
    color: $white;
}

@media only screen and (max-width: 991px) {
  .row.reorder-xs {
    -ms-transform: rotate(180deg);
    /* IE 9 */
    -webkit-transform: rotate(180deg);
    /* Chrome, Safari, Opera */
    transform: rotate(180deg);
    direction: rtl; }
  .row.reorder-xs > [class*="col-"] {
    -ms-transform: rotate(-180deg);
    /* IE 9 */
    -webkit-transform: rotate(-180deg);
    /* Chrome, Safari, Opera */
    transform: rotate(-180deg);
    direction: ltr; } }


@media only screen and (min-width: 992px) and (max-width: 1199px) {
.row.homepage-about-xs {
  -ms-transform: rotate(180deg);
  /* IE 9 */
  -webkit-transform: rotate(180deg);
  /* Chrome, Safari, Opera */
  transform: rotate(180deg);
  direction: rtl; }
.row.homepage-about-xs > [class*="col-"] {
  -ms-transform: rotate(-180deg);
  /* IE 9 */
  -webkit-transform: rotate(-180deg);
  /* Chrome, Safari, Opera */
  transform: rotate(-180deg);
  direction: ltr; } }


/*==========================================
    Preloader
==========================================*/
.preloader {
    position: fixed;
    left: 0;
    width: 100%;
    height: 100%;
    top: 0;
    background: #fff;
    z-index: 999;
}
.loader {
    position: absolute;
    // color: #df0225;
    color:#660066;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
}
.loader i:first-child, .loader i:last-child {
    font-size: 40px;
}
.fa-heart {animation: heart 1s linear infinite;}

@keyframes heart {
  0% {transform: scale(1);}
  15% {transform: scale(1.3);}
  30% {transform: scale(1);}
  45% {transform: scale(1.3);}
  60% {transform: scale(1);} 
}



/*==========================================
    scroll to top button
==========================================*/
.scroll-to-top {
    position: fixed;
    right: 50px;
    bottom: 80px;
    display: inline-block;
    z-index: 9;
    width: 40px;
    height: 40px;
    background: #052157;
    border: 2px solid $white;
    text-align: center;
}
.scroll-to-top a {
    text-decoration: none;
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    cursor: pointer;
    font-size: 24px;
    color: #fff;
    padding: 2px 0 0px 0;
    display: inline-block;
}
.scroll-to-top a i {
  color: $white;
}
